#weatherContainer{
    width: 100%;
}


.low{
    border-radius: 6px;
    background-color: green;
    padding: 5px;
    color: white;
}

.moderate{
    border-radius: 6px;
    background-color: goldenrod;
    padding: 5px;
    color: white;
}

.high{
    border-radius: 6px;
    background-color: rgb(233, 163, 33);
    padding: 5px;
    color: white;
}

.vhigh{
    border-radius: 6px;
    background-color: red;
    padding: 5px;
    color: white;
}
.extreme
{
    border-radius: 6px;
    background-color: purple;
    padding: 5px;
    color: white;
}
